.vs/AquaDefender/FileContentIndex/4041c716-61cb-4cd8-b547-43a54d6f5047.vsidx
.vs/AquaDefender/v17/.suo
.vs/AquaDefender/AquaDefender-Backend/obj
.vs/AquaDefender/AquaDefender-Backend/bin
.vs/AquaDefender/v17/.suo
AquaDefender-Backend/bin
AquaDefender-Backend/bin/Debug
AquaDefender-Backend/bin/Debug/net8.0
AquaDefender-Backend/obj
AquaDefender-Backend/bin/Debug/net8.0/AquaDefender-Backend.exe
AquaDefender-Backend/bin/Debug/net8.0/AquaDefender-Backend.pdb
AquaDefender-Backend/obj/Debug/net8.0/apphost.exe
AquaDefender-Backend/obj/Debug/net8.0/AquaDefender-Backend.AssemblyInfoInputs.cache
AquaDefender-Backend/obj/Debug/net8.0/AquaDefender-Backend.dll
AquaDefender-Backend/obj/Debug/net8.0/AquaDefender-Backend.pdb
AquaDefender-Backend/obj/Debug/net8.0/AquaDefender-Backend.sourcelink.json
AquaDefender-Backend/obj/Debug/net8.0/ref/AquaDefender-Backend.dll
AquaDefender-Backend/obj/Debug/net8.0/refint/AquaDefender-Backend.dll
