.header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Brush Script MT", sans-serif;
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: white;

  .inner-header {
    z-index: 2;
    min-height: 75vh;
    width: 80%;
    margin: 0 auto;
    padding: 0;

    .flex {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 100%;
    }

    .back-container {
      width: 80%;
      background-color: white;
      margin: auto;
      margin-bottom: 200px;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      z-index: 3;
      top: 150px;

      .form-title {
        text-align: center;
        color: black;
        margin-bottom: 50px;
        font-size: 2em;
        font-weight: bold;
      }

      #changePasswordForm {
        width: 80%; // Adjusting width for form
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;

        .form-group {
          width: 100%; // Ensures form-group takes full width of the form
          margin-bottom: 25px;

          label {
            display: block;
            margin-bottom: 5px;
            font-size: 1.2em;
          }

          input[type="password"] {
            width: 100%; // Ensures input fields stretch to fill their container
            padding: 10px;
            font-size: 1em;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 15px;
            color: #000; // Text color black for better readability
          }
        }

        button[type="submit"] {
          padding: 10px 15%;
          font-size: 1.2em;
          color: #fff;
          background-color: #3498db;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #2980b9;
          }
        }
      }
    }
  }

  .waves {
    position: relative;
    width: 100%;
    height: 20vh;
    margin-bottom: -7px;
    min-height: 150px;
    max-height: 250px;

    .content {
      position: relative;
      height: 20vh;
      text-align: center;
      background-color: white;
    }

    .parallax > use {
      animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    }
    .parallax > use:nth-child(1) {
      animation-delay: -2s;
      animation-duration: 7s;
    }
    .parallax > use:nth-child(2) {
      animation-delay: -3s;
      animation-duration: 10s;
    }
    .parallax > use:nth-child(3) {
      animation-delay: -4s;
      animation-duration: 13s;
    }
    .parallax > use:nth-child(4) {
      animation-delay: -5s;
      animation-duration: 20s;
    }

    @keyframes move-forever {
      0% {
        transform: translate3d(-90px, 0, 0);
      }
      100% {
        transform: translate3d(85px, 0, 0);
      }
    }

    @media (max-width: 768px) {
      .waves {
        height: 50px;
        min-height: 50px;
      }
      .content {
        height: 30vh;
      }
      h1 {
        font-size: 24px;
      }
    }
  }
}
