<app-loading *ngIf="isLoading"></app-loading>
<div class="header" *ngIf="!isLoading">
  <app-navbar *ngIf="!isLoading"></app-navbar>

  <div class="alert-container" *ngIf="!isLoading">
    <div *ngFor="let errorMessage of alertErrorMessages; let i = index">
      <app-alert-error
        [message]="errorMessage"
        (close)="removeAlert(i)"
      ></app-alert-error>
    </div>

    <div *ngFor="let successMessage of alertSuccessMessages; let j = index">
      <app-alert-success
        [message]="successMessage"
        (close)="removeSuccessAlert(j)"
      ></app-alert-success>
    </div>
  </div>

  <div class="inner-header flex" *ngIf="!isLoading">
    <div class="back-container">
      <!-- Back button or other navigation could go here -->
      <h2 class="form-title">Schimbare Parolă</h2>
      <form
        id="changePasswordForm"
        (ngSubmit)="changePassword()"
        #changePasswordForm="ngForm"
      >
        <div class="form-group">
          <label for="oldPassword">Parola Veche:</label>
          <input
            type="password"
            id="oldPassword"
            name="oldPassword"
            [(ngModel)]="user.oldPassword"
            #oldPasswordField="ngModel"
            placeholder="Introdu parola veche"
            required
          />
          <div
            *ngIf="
              oldPasswordField.errors &&
              (oldPasswordField.dirty || oldPasswordField.touched)
            "
            class="error-message"
          >
            <span *ngIf="oldPasswordField.errors['required']"
              >Parola veche este obligatorie.</span
            >
          </div>
        </div>

        <div class="form-group">
          <label for="newPassword">Parola Nouă:</label>
          <input
            type="password"
            id="newPassword"
            name="newPassword"
            [(ngModel)]="user.newPassword"
            #newPasswordField="ngModel"
            placeholder="Creeaza o parola sigura"
            required
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}"
          />
          <div
            *ngIf="
              newPasswordField.errors &&
              (newPasswordField.dirty || newPasswordField.touched)
            "
            class="error-message"
          >
            <span *ngIf="newPasswordField.errors['required']"
              >Parola este obligatorie.</span
            >
            <span *ngIf="newPasswordField.errors['pattern']"
              >Parola trebuie să conțină minim 8 caractere, inclusiv o literă
              mare, o literă mică, un număr și un simbol.</span
            >
          </div>
        </div>

        <div class="form-group">
          <label for="confirmNewPassword">Confirmare Parola Nouă:</label>
          <input
            type="password"
            id="confirmNewPassword"
            name="confirmNewPassword"
            [(ngModel)]="user.confirmNewPassword"
            #confirmNewPasswordField="ngModel"
            placeholder="Reintrodu parola"
            required
            [class.is-invalid]="
              confirmNewPasswordField.touched || !newPasswordsMatch()
            "
          />
          <div
            *ngIf="
              confirmNewPasswordField.errors &&
              (confirmNewPasswordField.dirty || confirmNewPasswordField.touched)
            "
            class="error-message"
          >
            <span *ngIf="confirmNewPasswordField.errors['required']"
              >Confirmarea parolei este obligatorie.</span
            >
            <span *ngIf="!newPasswordsMatch()">Parolele nu se potrivesc.</span>
          </div>
          <div
            *ngIf="
              confirmNewPasswordField.dirty || confirmNewPasswordField.touched
            "
            class="error-message"
          >
            <span *ngIf="!newPasswordsMatch()">Parolele nu se potrivesc.</span>
          </div>
        </div>

        <button class="button" type="submit">
          <fa-icon
            [icon]="iconService.faUserEdit"
            class="button-icon"
          ></fa-icon>
          <span class="button-text">Schimbă Parola</span>
          <div class="fill-container"></div>
        </button>
      </form>
    </div>
  </div>

  <div *ngIf="!isLoading">
    <svg
      class="waves"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28"
      preserveAspectRatio="none"
      shape-rendering="auto"
    >
      <defs>
        <path
          id="gentle-wave"
          d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
        />
      </defs>
      <g class="parallax">
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="0"
          fill="rgba(255,255,255,0.7)"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="3"
          fill="rgba(255,255,255,0.5)"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="5"
          fill="rgba(255,255,255,0.3)"
        />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
  <app-footer *ngIf="!isLoading"></app-footer>
</div>
