<app-loading *ngIf="isLoading"></app-loading>
<div class="header" *ngIf="!isLoading">
  <app-navbar *ngIf="!isLoading"></app-navbar>

  <div class="inner-header flex" *ngIf="!isLoading">
    <div class="back-container">
      <!-- Back button or other navigation could go here -->
      <h2 class="form-title">Schimbare Parolă</h2>
      <form
        id="changePasswordForm"
        (ngSubmit)="changePassword()"
        #changePasswordForm="ngForm"
      >
        <div class="form-group">
          <label for="oldPassword">Parola Veche:</label>
          <input
            type="password"
            id="oldPassword"
            name="oldPassword"
            [(ngModel)]="user.oldPassword"
            required
          />
        </div>
        <div class="form-group">
          <label for="newPassword">Parola Nouă:</label>
          <input
            type="password"
            id="newPassword"
            name="newPassword"
            [(ngModel)]="user.newPassword"
            required
          />
        </div>
        <div class="form-group">
          <label for="confirmNewPassword">Confirmare Parola Nouă:</label>
          <input
            type="password"
            id="confirmNewPassword"
            name="confirmNewPassword"
            [(ngModel)]="user.confirmNewPassword"
            required
          />
        </div>
        <button type="submit">Schimbă Parola</button>
      </form>
    </div>
  </div>

  <div *ngIf="!isLoading">
    <svg
      class="waves"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28"
      preserveAspectRatio="none"
      shape-rendering="auto"
    >
      <defs>
        <path
          id="gentle-wave"
          d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
        />
      </defs>
      <g class="parallax">
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="0"
          fill="rgba(255,255,255,0.7)"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="3"
          fill="rgba(255,255,255,0.5)"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="5"
          fill="rgba(255,255,255,0.3)"
        />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
  <app-footer *ngIf="!isLoading"></app-footer>
</div>
