.footer {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 10px 20px;
    position: block;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .footer-content p {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
  }