.header {
  margin: 0;
  padding-top: 100px;
  box-sizing: border-box;
  font-family: "Brush Script MT", sans-serif;
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: white;

  .alert-container {
    position: fixed;
    top: 120px;
    right: 20px;
    z-index: 20;
    max-width: 30%;
    width: 30%;
  }

  .inner-header {
    min-height: 75vh;
    margin: 0 auto;
    padding: 0;

    .flex {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 100%;
    }
    .back-container {
      width: 70%;
      background-color: white;
      margin: 20px auto;
      margin-bottom: 150px;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      min-height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      z-index: 2;
      top: 50px;

      .report-management-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 5px;

        h1 {
          font-family: "Arial", sans-serif;
          font-size: 24px;
          color: #333;
          padding: 20px;
          border: 1px solid #ccc;
          border-radius: 8px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          margin: 0 auto;
        }
      }

      .statistics-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #000;
        width: 100%;
        margin-top: 50px;
        padding: 0 20px;
      }

      .statistics-row {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
      }

      .statistic {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid black;
        color: #000;
        padding: 10px;
        margin: 5px;
        flex: 1 1 19%;
        min-width: 150px;
        box-sizing: border-box;
        word-wrap: break-word;
      }

      .statistic.full-width {
        width: 100%;
        justify-content: center;
      }

      .center-text {
        width: 100%;
        text-align: center;
        margin: 10px 0;
        font-size: 18px;
        word-wrap: break-word;
        padding: 0 5px;
      }

      .number {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 5px;
        word-wrap: break-word;
      }

      .label {
        font-size: 16px;
        color: #000;
        text-align: center;
        word-wrap: break-word;
      }

      @media (max-width: 800px) {
        .statistics-row:nth-of-type(2) .statistic {
          flex-basis: 100%;
          margin: 10px 0;
        }
        .center-text,
        .number,
        .label {
          font-size: 16px;
        }
      }

      @media (max-width: 1200px) {
        .statistics-row:nth-of-type(2) .statistic:nth-child(2) {
          order: 3;
          flex-basis: 100%;
          margin-top: 20px;
        }
      }

      @media (max-width: 480px) {
        .statistic {
          flex-basis: 100%;
        }
        .center-text,
        .number,
        .label {
          text-align: center;
          font-size: 12px;
        }
      }

      @media (max-width: 788px) {
        .alert-container {
          right: 140px;
          width: 40%;
        }
      }

      @media (max-width: 480px) {
        .alert-container {
          right: 150px;
          width: 80%;
        }
      }

      .filters-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 100%;
        margin-top: 20px;

        .report-title h2 {
          text-align: center;
          color: #000;
          margin-bottom: 40px;
        }

        .dropdowns-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          width: 100%;

          .filter-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 10px;
            color: black;
            flex: 1;
            min-width: 250px;

            label {
              margin-bottom: 5px;
            }

            select,
            input[type="text"],
            input[type="date"] {
              width: 100%;
              padding: 15px;
              font-size: 1.2em;
              border: 1px solid #ccc;
              border-radius: 5px;
            }
          }
        }
      }

      .title {
        margin-top: 35px;
        font-size: 1.8em;
        color: #000;
      }

      .button button,
      .button-status button {
        margin-left: 10px;
        margin-top: 55px;
        width: auto;
        padding: 12px 24px;
        color: #fff;
        font-size: 2em;
        border-radius: 8px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        border-radius: 100vw;
        background-color: #3498db;
        font-family: "Brush Script MT", sans-serif;
        color: #fafafa;
        border: solid 1px rgba(#2776aa, 0.3);
        overflow: hidden;
        cursor: pointer;
        transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
        mask-image: -webkit-radial-gradient(white, black);

        .button-text {
          position: relative;
          z-index: 2;
        }

        .fill-container {
          position: absolute;
          left: 0;
          top: 50%;
          width: 100%;
          padding-bottom: 100%;
          transform: translateY(-50%) rotate(180deg);

          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #2776aa;
            border-radius: 50%;
            transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
            transform: translateY(-100%);
          }
        }

        &:hover {
          border-color: rgb(46, 93, 131);
          transform: translateY(-4px);

          .fill-container {
            transform: translateY(-50%) rotate(0);

            &::after {
              transform: translateY(0);
            }
          }
        }
      }

      .no-reports-message {
        text-align: center;
        font-size: 1.5em;
        color: #555;
        margin-top: 20px;
      }

      .report-container {
        background: #fff;
        color: #000;
        font-family: "Brush Script MT", sans-serif;
        border: 1px solid #3498db;
        border-radius: 4px;
        width: 90% !important;
        padding: 20px;
        margin: 40px auto;

        .heading {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .name-title {
            font-size: 23px;
            width: auto;
            color: black;
            margin: 0;
            text-align: left;
          }

          .date-reported {
            width: auto;
            font-size: 24px;
            display: flex;
            padding-left: 10px;
            border-left: 1px solid black;
            justify-content: flex-end;
            align-items: center;
            margin: 0;
            color: black;
          }
        }

        .current-status {
          display: flex;
          align-items: center;
          margin-top: 5px;
          font-size: 12px;
          text-align: left;
        }

        .current-status fa-icon {
          margin-right: 5px;
          display: flex;
          align-items: center;
        }

        .current-status p {
          margin: 0;
          display: flex;
          align-items: center;
        }

        .status-new {
          color: #3498db;
        }

        .status-in-progress {
          color: orange;
        }

        .status-resolved {
          color: green;
        }

        .report-title {
          font-size: 18px;
          width: 100%;
          color: black;
          margin: 0;
          margin-top: 15px;
        }

        .description,
        .location-description {
          color: #0c0c0c;
          margin-top: 10px;
          text-align: left;
          font-size: 15px;
        }

        .image-container {
          border: 1px solid #3498db;
          margin-top: 20px;
          margin-left: auto;
          margin-right: auto;
          position: relative;
          width: auto;
          height: 600px;
          overflow: hidden;
        }

        .slide {
          display: flex;
          transition: transform 0.5s ease;
          width: 100%;
          height: 100%;
        }

        .image {
          min-width: 100%;
          background-size: cover;
          background-position: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        button.prev,
        button.next {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background-color: #fff;
          color: #3498db;
          border: none;
          cursor: pointer;
          z-index: 20;
        }

        button.prev {
          left: 10px;
        }

        button.next {
          right: 10px;
        }

        button {
          font-size: 25px;
          background: none;
          border-radius: 50px;
          border: 0px #ccc;
          opacity: 0.7;
          padding: 3px 7px;
          cursor: pointer;
          z-index: 11;
        }

        .button-status button {
          background-color: #2776aa;
          padding: 10px;
          margin-top: 10px;
          font-size: 15px;
        }
      }

      @media (max-width: 599px) {
        .back-container {
          width: 100% !important;
        }
        .report-container {
          width: 100% !important;
          padding: 10px;
        }

        .heading .name-title,
        .heading .date-reported {
          font-size: 16px !important;
        }

        .report-title,
        .description,
        .location-description {
          font-size: 12px;
        }

        .image-container {
          height: 250px !important;
        }

        .date-reported {
          padding-left: 3px !important;
        }
      }

      @media (min-width: 600px) and (max-width: 899px) {
        .back-container {
          width: 95% !important;
        }
        .report-container {
          width: 97% !important;
          padding: 15px;
        }

        .heading .name-title,
        .heading .date-reported {
          font-size: 17px !important;
        }

        .report-title,
        .description,
        .location-description {
          font-size: 14px !important;
        }

        .image-container {
          height: 320px !important;
        }

        .date-reported {
          padding-left: 5px !important;
        }
      }

      @media (min-width: 900px) and (max-width: 1199px) {
        .back-container {
          width: 90% !important;
        }

        .report-container {
          width: 96% !important;
          padding: 20px;
        }

        .heading .name-title {
          font-size: 19px !important;
        }

        .heading .date-reported {
          font-size: 20px !important;
          padding-left: 6px !important;
        }

        .report-title {
          font-size: 16px;
        }
        .description,
        .location-description {
          font-size: 14px;
        }

        .image-container {
          height: 450px !important;
        }
      }

      @media (min-width: 1200px) and (max-width: 1599px) {
        .back-container {
          width: 82% !important;
        }

        .report-container {
          width: 95% !important;
          padding: 20px;
        }

        .heading .name-title {
          font-size: 21px !important;
        }
        .heading .date-reported {
          font-size: 22px !important;
          padding-left: 7px !important;
        }

        .report-title {
          font-size: 16px;
        }
        .description,
        .location-description {
          font-size: 14px;
        }

        .image-container {
          height: 521px !important;
        }
      }
    }
  }

  .waves {
    position: relative;
    width: 100%;
    height: 20vh;
    margin-bottom: -7px;
    min-height: 150px;
    max-height: 250px;

    .content {
      position: relative;
      height: 20vh;
      text-align: center;
      background-color: white;
    }

    .parallax > use {
      animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    }
    .parallax > use:nth-child(1) {
      animation-delay: -2s;
      animation-duration: 7s;
    }
    .parallax > use:nth-child(2) {
      animation-delay: -3s;
      animation-duration: 10s;
    }
    .parallax > use:nth-child(3) {
      animation-delay: -4s;
      animation-duration: 13s;
    }
    .parallax > use:nth-child(4) {
      animation-delay: -5s;
      animation-duration: 20s;
    }

    @keyframes move-forever {
      0% {
        transform: translate3d(-90px, 0, 0);
      }
      100% {
        transform: translate3d(85px, 0, 0);
      }
    }

    @media (max-width: 768px) {
      .waves {
        height: 50px;
        min-height: 50px;
      }
      .content {
        height: 30vh;
      }
      h1 {
        font-size: 24px;
      }
    }
  }
}
